/* styles.css */

body {
  /* Add a background image to the body element */
  background-image: url('download.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  margin: 0;
}





body {
  font-family: 'Open Sans', sans-serif;
  background-color: #c8eef5;
  font-size: 16px;
  
}

.container {
  max-width: 400px;
  margin: 105px auto;
  padding: 30px;
  background-color: #dee3e6;
  border: 2px solid #abf5e7;
  box-shadow: 0 0 10px rgba(3, 214, 241, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
  color: #333;
  font-family: 'Montserrat';
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #666;
  font-family: 'Lato', sans-serif;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #d11f1f;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit-btn {
  background-color: #34A853;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#submit-btn:hover {
  background-color: #2F8553;
}

/* Responsive design */

@media (max-width: 768px) {
  .container {
      width: 90%;
      margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .container {
      width: 100%;
      margin: 10px auto;
  }
  .form-group {
      margin-bottom: 20px;
  }
  label {
      font-size: 14px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
      font-size: 14px;
  }
  #submit-btn {
      padding: 10px 20px;
      font-size: 16px;
  }
}